{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.anychart.com/geodata/2.1.1/countries/australia/australia.js"></script>
	<script src="https://cdn.anychart.com/releases/8.11.0/geodata/countries/philippines/philippines.js"></script>
	<script src="https://cdn.anychart.com/releases/8.11.0/geodata/custom/world/world.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js" data-export="true"></script>
</head>
<body class="bg-white text-black">
	<!-- <div class="nav w-2/12 fixed border-4 font-bold border-white z-40 top-0 bottom-0 left-0 p-10">
		<ul>
			<li class="mt-5 mb-5">
				<div class="text-xl cursor-pointer ease-in-out duration-300 hover:scale-105">Dengue dataset</div>
			</li>
			<li>
				<div class="text-xl cursor-pointer ease-in-out duration-300 hover:scale-105">Geo dataset</div>
			</li>
		</ul>

	</div> -->
	<!-- container -->
	<div class="grid w-12/12 ml-auto justify-end grid-cols-2 gap-5 p-12">
		<div class="flex flex-col gap-6 col-span-2 p-2 rounded-lg">
			<h1 class="text-xl font-bold">Dengue Cases ranked by Date</h1>
			<div class="rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 w-4/5 mx-auto">
				<canvas id="dengueDataset" class="m-auto w-10/12">
				</canvas>
			</div>
			<div class="text-center text-xl">The trend of dengue cases have been <b>consistent in the years 2016-2018</b></div>
			<div class="text-center text-xl">Spikes consistently <b>happen around the 6 month of every year</b></div>
			<div class="text-center text-xl">However,around <b class="text-2xl">June 2019 occured the biggest spike</b></div>
		</div>
		<hr class="col-span-2 border border-slate-500">
		<div class="grid grid-cols-4 gap-6 p-2 col-span-2 rounded-lg">
			<h1 class="col-span-4 text-xl font-bold">Regional Cases</h1>
			<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12">
				<canvas id="dengueNumOfCases" class="w-full m-auto">
				</canvas>
			</div>
			<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12">
				<canvas id="dengueNumOfCases_bar" class="w-full m-auto">
				</canvas>
			</div>
			<div class="col-span-4 flex flex-col justify-evenly">
				<div class="text-center text-xl"><b>Calabarzon</b> accounted for most of the cases</div>
				<div class="text-center text-xl">this is followed by <b>Central Luzon</b> and <b>Western Visayas</b></div>
			</div>
		</div>
		<hr class="col-span-2 border border-slate-500">
		<div class="grid grid-cols-4 gap-6 p-2 col-span-2 rounded-lg">
			<h1 class="col-span-4 text-xl font-bold">Deaths Per Region</h1>
			<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm w-4/5 mx-auto p-8 h-8/12">
				<canvas id="dengueNumOfDeaths" class="w-full">
					numofdeaths
				</canvas>
			</div>
			<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm w-4/5 mx-auto p-8 h-full">
				<canvas id="dengueNumOfDeaths_pie" class="w-full">
					numofdeaths
				</canvas>
			</div>
			<div class="col-span-4 text-center text-xl"><b>NCR</b> had the most deaths</div>
			<div class="col-span-4 text-center text-xl">this is followed by <b>REGION VII</b> and <b>Western Visayas</b></div>
		</div>
		<hr class="col-span-2 border border-slate-500">
		<div class="flex flex-col gap-6 p-2 col-span-2 rounded-lg">
			<h1 class="text-xl font-bold">Death to Case Percentage</h1>
			<div class="col-span-4 text-xl">Percentage is calculate by <b>Death divided by the number of cases multiplied by a hundred</b></div>
			<div class="rounded-lg border border-slate-200 bg-slate-100 shadow-sm w-4/5 mx-auto p-8 h-8/12">
				<canvas id="denguePercentOfDeaths" class="w-full">
					numofdeaths
				</canvas>
			</div>
			<div class="text-center text-xl"><b>Region XII</b> accounts for most number of deaths with respect to the number of cases</div>
		</div>
		<hr class="col-span-2 border border-slate-500">
		<div class="grid grid-cols-4 gap-6 p-2 col-span-2 rounded-lg">
			<h1 class="col-span-4 text-xl font-bold">Flood Levels in Metro Manila</h1>
			<div class="text-lg col-span-4">Manila is always flooded due to consistent storms in the country</div>
			<div class="text-lg col-span-4">This dataset includes preciptation, and flood levels</div>
			<div class="text-xl font-bold col-span-2">
				<div><b>0</b> - No flood</div>
				<div><b>2</b> - Ankle Height</div>
				<div><b>4</b> - Waist Height</div>
				<div><b>6</b> - Neck Height</div>
				<div><b>8</b> - Top of the Head height</div>
				<div><b>10</b> - 1 Story Height</div>
				<div><b>12</b> - 1.5 Story Height</div>
				<div><b>14</b> -	2 Storeys</div>
			</div>
			<div class="text-xl col-span-2">
				<div><b>Precipitation - precipitat (millimetres/hour)</b></div>
				<div>- water that falls down from the clouds to the ground <a href="https://www.britannica.com/science/precipitation">(Brittanica)</a></div>
				<div>measured in (millimetres/hour)</div>
			</div>
			<div id="container" class="rounded-lg container border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12 col-span-4 w-full h-screen m-0 p-0"></div>
			<div id="floodDataset_precip" class="rounded-lg container border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12 col-span-4 w-full h-screen m-0 p-0"></div>
			<div class="text-md"><b>Reference</b>: <a href="https://www.kaggle.com/datasets/giologicx/aegisdataset">https://www.kaggle.com/datasets/giologicx/aegisdataset</a></div>
		</div>
	</div>
	<script src="{% static 'bundle.js' %}"></script>
</body>
</html>