{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.anychart.com/geodata/2.1.1/countries/australia/australia.js"></script>
	<script src="https://cdn.anychart.com/releases/8.11.0/geodata/countries/philippines/philippines.js"></script>
	<script src="https://cdn.anychart.com/releases/8.11.0/geodata/custom/world/world.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js" data-export="true"></script>
</head>
<body class="bg-white text-black">
	<div class="nav w-2/12 fixed border-4 font-bold border-white z-40 top-0 bottom-0 left-0 p-10">
		<ul>
			<li class="mt-5 mb-5">
				<div class="text-xl cursor-pointer ease-in-out duration-300 hover:scale-105">Dengue dataset</div>
			</li>
			<li>
				<div class="text-xl cursor-pointer ease-in-out duration-300 hover:scale-105">Geo dataset</div>
			</li>
		</ul>

	</div>
	<!-- container -->
	<div class="grid w-10/12 ml-auto justify-end grid-cols-2 gap-5 p-12">
		<h1 class="col-span-2 text-xl font-bold">Dengue Cases ranked by Date</h1>
		<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 h-full">
			<canvas id="dengueDataset" class="m-auto w-full">
			</canvas>
		</div>
		<h1 class="col-span-2 text-xl font-bold">Regional Cases Proportion</h1>
		<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12">
			<canvas id="dengueNumOfCases" class="w-full m-auto">
			</canvas>
		</div>
		<h1 class="col-span-2 text-xl font-bold">Dengue Deaths Per Region</h1>
		<div class="col-span-2 rounded-lg border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12">
			<canvas id="dengueNumOfDeaths" class="w-full">
				numofdeaths
			</canvas>
		</div>
		<h1 class="col-span-2 text-xl font-bold">Flood Levels in Metro Manila</h1>
		<div id="container" class="rounded-lg container border border-slate-200 bg-slate-100 shadow-sm p-8 h-8/12 col-span-2 w-full h-screen m-0 p-0">
		</div>
	</div>
	<script src="{% static 'bundle.js' %}"></script>
</body>
</html>